<% @form_submission.form.fields.each do |field| %>
  <div>
    <%= field.title %>
  </div>
  <div class="p-2 border">
    <% field.answers.where(form_submission_id: @form_submission.id).each do |answer| %>
      <% if field.field_type=="FileField" %>
        <%= link_to answer.images.filename, rails_blob_path(answer.images, disposition: 'preview' ) %>  <%= image_tag(answer.images, height: '25') %>
      <% else %>
        <%= answer.answer %><br/>
      <% end %>
    <% end %>
  </div>
<% end %>