<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to SurveySpot</h1>
  <p>Your account has been created here are your credentials</p>
  <ul>
    <li>Username: <%= @user.username %></li>
    <li>Email: <%= @user.email %></li>
    <li>Password: <%= @password %></li>
  </ul>
</body>
</html>