<h3>Editing <%= @user.role %>: <%= @user.username %></h3>
<div class="container">
  <%= render 'form' %>
  <% if current_user.id==@user.id %>
    <%= link_to 'edit password', password_user_path(@user), class:"btn btn-danger p-1 mt-2" %>
  <% end %>
</div>