<div>
  <%= link_to 'Create Manager--', manager_new_users_path %>
</div>
<div class="mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Managers Name</th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @managers.each do |manager| %>
        <tr class="shadow-sm mt-2">
          <td><%= manager.username %></td>
          <td><%= link_to 'Edit', edit_user_path(manager), class:"btn btn-warning nav-item" %></td>
          <td><%= link_to 'Delete', user_path(manager), method: :delete, class:"btn btn-danger nav-item" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>