<h1>Users Information</h1>
<div class="container">
  <h2>Username: </h2><p class="border border-success rounded p-2"><%= @user.username %></p>
  <h2>Email: </h2><p class="border border-success rounded p-2"><%= @user.email %></p>
</div>