<div class="nested-fields ml-2 mt-2">
  <div class="row">
    <div class="col-6">
      <%= f.text_field :label, class:"form-control", placeholder:"Write your option..." %>
    </div>
    <div class="col-6">
      <%= link_to_remove_association 'remove option', f, class:"btn btn-danger" %>
    </div>
  </div>
  
  
</div>