<%= render 'layouts/flash_messages' %>
<div class="container mt-3">
  <div class="container-fluid bg-white border p-4 rounded">
    <h2>Admin's Dashboard</h2>
    <hr>
  </div>
  <%= render 'organization_info' %>
  <%= render 'admins_info' %>
  <br/>
</div>